/*  TextPad - 1.0.0
 *
 *  File: app.css
 *  Author: Paulo Nunes, http://syndicatefx.com
 *  License: MIT
 */

@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

*,*:before,*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #fff;
  color: #383838;
  height: 100%;
  font-size: 100%;
}
html.night {
  background: #383838;
  color: #ccc;  
}

body {
  height: 100%;
  font-family: "Roboto Mono",monospace;
  font-size: 1em;
  line-height: 1.7;
  padding: 1em 0;
}

::-moz-selection {
  background: #ddd;
}

::selection {
  background: #ddd;
}

html.night ::-moz-selection {
  background: #111;
}

html.night ::selection {
  background: #111;
}

button,input[type="text"],textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: transparent;
}

input[type="text"],textarea {
  display: block;
  width: 100%;
  padding: .5em;
}

::-webkit-input-placeholder {
    color: #999;
}
:-moz-placeholder {
    color: #999;
}
::-moz-placeholder {
    color: #999;
}
:-ms-input-placeholder {
    color: #999;
}

textarea {
  resize: none;
  background: inherit;
  height: 100%;
  line-height: 1.9;
  padding: 4em .5em 2.5em;
}

@media(min-width:48em){
  textarea {
    padding: 4em 2.5em 2.5em;
  }
}

@media(min-width:57.5em){
  textarea {
    padding: 4em 5em 2.5em;
  }
}

@media(min-width:64em) {
  textarea {
    padding: 4em 15% 2.5em;
  }
}

@media(min-width:75em) {
  textarea {
    padding: 4em 20% 2.5em;
  }
}

button {
  background: inherit;
  display: inline;
  position: relative;
  cursor: pointer;
}

button:focus,input:focus,textarea:focus {
  outline: none;
}

svg {
  width: 1.5em;
  height: 1.5em;
  fill: none;
  stroke: #999;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.theme-icon {
  stroke: none;
  stroke-width: none;
  fill: #999;
}

.logo {
  width: 3em;
  height: 3em;
  stroke: #383838;
}

.night .logo {
  stroke: #fff;
}

button:nth-of-type(1):hover svg {
  stroke: #a0d92e;
}

button:nth-of-type(2):hover svg {
  stroke: #f92652;
}

button:nth-of-type(3):hover svg {
  stroke: #fd971f;
}

button:nth-of-type(3):hover .theme-icon {
  fill: #fd971f;
}

button:nth-of-type(4):hover svg {
  stroke: #61cce0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fcfcfc;
  box-shadow: 0 2px 5px -3px rgba(0,0,0,.2);
  z-index: 2;
}

.night header {
  background: #333;
  box-shadow: 0 2px 5px -3px rgba(0,0,0,.8);
}

nav {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 64em;
  margin: 0 auto;
}

nav input {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: inherit;
  max-width: 12em;
}

nav .btn-group {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  flex: 2;
  text-align: right;
  padding: .5em .5em 0 0;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 45ch;
  height: 30em;
  text-align: center;
  padding: 1em;
  margin: auto auto;
}

section h1 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: .5em;
}

section p {
  font-size: .875em;
  text-align: left;
  margin-bottom: 1.4em;
}

section button {
  background: #a0d92e;
  color: #fff;
  min-width: 5em;
  padding: .5em;
  margin-bottom: 1.4em;
}

.night section button {
  color: #383838;
}

.footnote {
  font-size: 80%;
  text-align: center;
}

a {
  color: #f92652;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.9);
  z-index: 5;
  display: none;
}

.night .overlay {
  background: rgba(56,56,56,.9);
}

.overlay.active {
  display: block;
  overflow-y: scroll;
}

/* Char counter */

.counter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
  list-style: none;
  padding: 0 1em;
}

/* Alerts */

.smoke-base {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255,255,255,.9);
  visibility: hidden;
  opacity: 0;
}

.night .smoke-base {
  background: rgba(56,56,56,.9);
}

.smoke-base.smoke-visible {
  opacity: 1;
  visibility: visible;
}

.smokebg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.dialog-prompt {
  margin-top: 5px;
}

.smoke {
  font-family: "Roboto Mono", monospace;
  font-size: .875em;
  line-height: 1.6;
}

.smoke-base .dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 22em;
  height: 14em;
  margin: auto auto;
}

.smoke-base .dialog-inner {
  text-align: center;
  padding: 4em .5em 0;
}

.smoke-base .dialog-inner:before {
  content: "";
  position: absolute;
  top: 1em;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 32px;
  height: 32px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><circle cx='16' cy='16' r='12' fill='none' stroke='%23383838' stroke-width='2'></circle><circle cx='12' cy='14' r='2' fill='%23383838'></circle><circle cx='20' cy='14' r='2' fill='%23383838'></circle><line x1='13' y1='21' x2='19' y2='21' stroke='%23383838' stroke-width='2'/></svg>");
}

.night .smoke-base .dialog-inner:before {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><circle cx='16' cy='16' r='12' fill='none' stroke='%23ffffff' stroke-width='2'></circle><circle cx='12' cy='14' r='2' fill='%23ffffff'></circle><circle cx='20' cy='14' r='2' fill='%23ffffff'></circle><line x1='13' y1='21' x2='19' y2='21' stroke='%23ffffff' stroke-width='2'/></svg>");
}

.dialog-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: .5em;
}

.dialog-buttons button {
  background: #fff;
  border: 2px solid #383838;
  color: #383838;
  min-width: 5em;
  padding: .5em;
}

.night .dialog-buttons button {
  background: #383838;
  border: 2px solid #ccc;
  color: #ccc;  
}

button[id*="confirm-ok-"],button[id*="prompt-ok-"] {
  margin-right: .5em;
}

input[id*="dialog-input-"] {
  text-align: center;
}

.queue{
  display: none;
}
